{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}
    {% url 'account_email' as email_url %}
    {% element p %}
        {% blocktrans %}This part of the site requires us to verify your email address.{% endblocktrans %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}We have sent an email to you for verification. Please click on the link inside that email. <a href="mailto:erik@eriklonnroth.com" class="hyperlink">Contact support</a> if you do not receive it within a few minutes.{% endblocktrans %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}<strong>Note:</strong> you can <a href="{{ email_url }}" class="hyperlink">change your email address</a> if required.{% endblocktrans %}
    {% endelement %}
{% endblock content %}
