{% extends "planner/layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <div class="container mx-auto max-w-5xl">
        <h1 class="text-3xl font-bold text-gray-900">Profile</h1>
    </div>

    <div class="profile-wrapper mt-8">
        <form hx-post="{% url 'action_update_profile' %}"
            hx-target="#form-response-message">
            <fieldset id="profile-form-fieldset">

                <div class="mt-8 mb-6">
                    <div class="form-group">
                        {{ form.dietary_preferences.label_tag }}
                        {{ form.dietary_preferences }}
                    </div>
                    <div class="form-group">
                        {{ form.default_servings.label_tag }}
                        {{ form.default_servings }}
                    </div>
                    <div class="form-group">
                        {{ form.preferred_units.label_tag }}
                        {{ form.preferred_units }}
                    </div>
                </div>
            </fieldset>

            <button class="form-submit" type="submit">Save</button>

        </form>
        <p id="form-response-message" class="mt-4"></p>
    </div>
{% endblock %}