{% extends "planner/layout.html" %}
{% load static %}

{% block title %}
    Make My Meal Plan
{% endblock %}

{% block body %}

<main class="container mx-auto px-6 py-8">
    <section class="mb-12">
        <h2 class="text-4xl font-bold text-gray-900 mb-12">Take the hassle out of meal planning</h2>
        <ul class="max-w-2xl mb-12">
            <li class="flex items-center mb-2">
                <svg class="w-6 h-6 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                Search recipes or create your own based on dietary preferences
            </li>
            <li class="flex items-center mb-2">
                <svg class="w-6 h-6 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                Organize recipes into meal plans
            </li>
            <li class="flex items-center mb-2">
                <svg class="w-6 h-6 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                Generate shopping lists at a click
            </li>
        </ul>

        <a href="{% url 'account_signup' %}" class="magic-button w-40 py-3 ">Get Started</a>
    </section>

    <section class="grid md:grid-cols-3 gap-8 mb-16">
        <div class="bg-white p-8 rounded-lg shadow-md">
            <p class="text-gray-600 mb-4 text-lg">"No more wandering down the supermarket aisles making impulse decisions"</p>
            <p class="font-semibold">Nikki</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-md">
            <p class="text-gray-600 mb-4 text-lg">"This app finally made it easy to plan healthy meals throughout the week"</p>
            <p class="font-semibold">Emma</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-md">
            <p class="text-gray-600 mb-4 text-lg">"As a vegan with various food allergies, I love that I can tailor the plan to my own requirements"</p>
            <p class="font-semibold">Phoebe</p>
        </div>
    </section>

    <section class="mb-16">
        <p class="text-lg text-gray-700 max-w-3xl mb-8">
            Meal planning doesn't have to be a chore. 10 minutes a week is all it takes.
        </p>
        <a href="{% url 'account_signup' %}" class="magic-button w-40 py-3 ">Sign Up</a>
    </section>
</main>

{% endblock %}

{% block footer %}
<footer class="bg-gray-800 text-gray-300 py-6">
    <div class="container mx-auto text-center">
        <p>&copy; 2025 Make My Meal Plan</p>
        <p><a href="{% url 'terms' %}">Terms of Service</a> | <a href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
    </div>
</footer>
{% endblock %}