{% partialdef recipe-group %}

<div class="recipe-group">
    <div class="recipe-group-header">
        <h3 class="recipe-group-title" 
            contenteditable 
            @input="updateGroupName($event)">
            New Group
        </h3>
    </div>
    <div class="p-5">
        <ul class="recipe-list divide-y divide-gray-100" data-group-id="new-group">
        </ul>
        <div class="py-3 px-2">
            <button class="add-recipe-btn text-gray-400 hover:text-gray-500 font-medium inline-flex items-center space-x-1 whitespace-nowrap text-sm">
                <span>+</span>
                <span>Add recipe</span>
            </button>
        </div>
    </div>
</div> 

{% endpartialdef recipe-group %}

