{% extends "planner/layout.html" %}
{% load static %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}

    <div class="container mx-auto max-w-2xl px-4 pb-8">

        <div class="recipe-detail" id="recipe-{{ recipe.id }}" data-testid="recipe-{{ recipe.id }}" x-init="$dispatch('recipe-loaded', { recipeId: {{ recipe.id }} })">
            
            <div class="flex mb-4 justify-end">
                <!-- Toggle Buttons -->
                <div class="flex gap-2">
                    {% if recent_meal_plan %}
                        {% include "planner/recipes/partial_toggle_mpr.html" %}
                    {% endif %}
            
                    {% include "planner/recipes/partial_toggle_my_recipes.html" %}
                </div>
            </div>


            {% include "planner/recipes/partial_recipe.html" %}

        </div>
    </div>

{% endblock %}