{% extends "planner/layout.html" %}
{% load static %}

{% block title %}
    Recipes
{% endblock %}

{% block body %}
    <div class="body-container mb-8">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold text-gray-900">Recipes</h1>
        </div>

        <div class="flex flex-col sm:flex-row gap-2 mb-4">
            <div class="flex w-full sm:w-1/2">
                <input 
                    type="search" 
                    placeholder="Search recipes..." 
                    class="flex-grow px-4 py-2 border rounded-l-md border-gray-300 focus:ring-indigo-500 focus:border-indigo-500"
                    x-model="searchQuery"
                    @input="filterRecipes"
                >
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-l-0 border-transparent rounded-l-none rounded-r-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700">
                    Search
                </button>
            </div>
            <a href="{% url 'magic_recipe' %}" class="inline-flex items-center justify-center px-4 py-2 sm:ml-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gradient-to-r from-violet-600 to-violet-800 hover:from-violet-700 hover:to-violet-900">
                ✨ Magic Recipe
            </a>
        </div>


        <span>Show:</span>
        <div class="flex gap-2">
            <button class="my-recipes-button">
                {% include "planner/svg/bookmark.svg" %}
                <span>My Recipes</span>
            </button>
        </div>
        <div hx-get="{% url 'recipe_cards_list' %}?limit=12&sort=-created_at" 
        hx-trigger="load">
        </div>
    </div>
{% endblock %}
