{% extends "planner/layout.html" %}
{% load static %}

{% block title %}
    Recipes
{% endblock %}

{% block body %}
    <div class="body-container my-12">
        <div class="flex flex-col justify-between sm:flex-row gap-2 mb-4">

            {% include "planner/recipes/partial_search_form.html" %}

            <a href="{% url 'create_recipe' %}" class="inline-flex items-center justify-center px-4 py-2 sm:ml-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gradient-to-r from-violet-600 to-violet-800 hover:from-violet-700 hover:to-violet-900">
                ✨ Create Recipe
            </a>
        </div>

        <div class="flex gap-2 mb-8" x-data="{ myRecipesOnly: false, inMealPlanOnly: false }">
            <button 
                class="my-recipes-filter-button"
                :class="myRecipesOnly ? 'active' : ''"
                hx-get="{% url 'recipe_cards_page' %}"
                hx-target="#recipe-results"
                :hx-vals='JSON.stringify({"my_recipes": myRecipesOnly})'
                @click="myRecipesOnly = !myRecipesOnly; if(myRecipesOnly) inMealPlanOnly = false"
            >
                {% include "planner/svg/bookmark.svg" %}
                <span class="ml-2">My Recipes</span>
            </button>
            <button 
                class="in-meal-plan-filter-button"
                :class="inMealPlanOnly ? 'active' : ''"
                hx-get="{% url 'recipe_cards_page' %}"
                hx-target="#recipe-results"
                :hx-vals='JSON.stringify({"in_meal_plan": inMealPlanOnly})'
                @click="inMealPlanOnly = !inMealPlanOnly; if(inMealPlanOnly) myRecipesOnly = false"
            >
                {% include "planner/svg/calendar-alt.svg" %}
                <span class="ml-2">In Meal Plan</span>
            </button>
        </div>

        <div hx-get="{% url 'recipe_cards_list' %}?limit=12&sort=-created_at" 
        hx-trigger="load">
        </div>
    </div>
{% endblock %}
