{% load static %}

{% for recipe in recipes %}
    <div id="recipe-{{ recipe.id }}" x-data="{ in_mg: {% if meal_group.id in recipe.recent_meal_group_ids %}true{% else %}false{% endif %} }" class="bg-white w-full shadow-md rounded-lg overflow-hidden mb-2">
        <div class="flex items-center p-2">

            <div class="relative w-16 h-16">
                <img src="{% if recipe.image.name %}{{ recipe.image_thumb.url }}{% else %}{% static 'img/recipe_placeholder.png' %}{% endif %}" alt="{{ recipe.title }}"  class="w-full h-full object-cover">
            </div>
            
            <div class="flex-grow px-4">
                <a href="{{ recipe.get_absolute_url }}" class="hover:text-gray-600">
                    <h3 class="text-md font-semibold text-gray-900 line-clamp-1">{{ recipe.title }}</h3>
                </a>
            </div>
            
            <div class="flex-shrink-0">
                <button
                    class="toggle-mpr-in-modal-button"
                    hx-post="{% url 'action_toggle_mpr' meal_group_id=meal_group.id recipe_id=recipe.id %}"
                    hx-target="#meal-group-{{ meal_group.id }} .mpr-list"
                    hx-swap="beforeend"
                    :class="in_mg ? 'in-mg' : ''"
                    @htmx:after-request="
                        const trigger = JSON.parse(event.detail.xhr.getResponseHeader('HX-Trigger'));
                        in_mg = trigger.in_mg;
                        mpr_count = trigger.mpr_count;
                        if (!in_mg) event.detail.target.lastElementChild?.remove();
                    "
                >
                    <span x-show="!in_mg">+</span>
                    <span x-show="in_mg">-</span>
                </button>
            </div>
        </div>
    </div>
{% endfor %}

{% if page_obj.has_next %}

    <div id="scroll-sentinel"
        class="h-0 w-0 col-span-full"
        hx-trigger="intersect once"
        hx-get="{% url 'recipe_compact_list' %}?meal_group_id={{ meal_group.id }}&page={{ page_obj.number|add:1 }}&sort={{ sort }}"
        hx-target="#recipe-results"
        hx-swap="beforeend">
    </div>

{% endif %}