{% load static %}
{% for recipe in recipes %}

    <div id="recipe-{{ recipe.id }}" class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="relative">
            <div class="pb-[100%]"></div>
            <a href="{{ recipe.get_absolute_url }}">
                <img src="{% if recipe.image.name %}{{ recipe.image_medium.url }}{% else %}{% static 'img/recipe_placeholder.png' %}{% endif %}" alt="{{ recipe.title }}" class="absolute inset-0 w-full h-full object-cover">
            </a>
            <div class="absolute top-2 right-2 flex gap-2">
                {% if recent_meal_plan %}
                    {% include "planner/recipes/partial_toggle_mpr.html" with recent_meal_plan=recent_meal_plan recipe=recipe %}
                {% endif %}
                {% include "planner/recipes/partial_toggle_my_recipes.html" with recipe=recipe %}
            </div>
        </div>
        <div class="p-4 h-[80px]">
            <a href="{{ recipe.get_absolute_url }}" class="block">
                <h3 class="text-sm sm:text-md font-semibold text-gray-900 line-clamp-2">{{ recipe.title }}</h3>
            </a>
        </div>
    </div>
    
{% endfor %}

{% if page_obj.has_next %}

    <div id="scroll-sentinel"
        class="h-0 w-0 col-span-full"
        hx-trigger="intersect once"
        hx-get="{% url 'recipe_cards_page' %}?page={{ page_obj.number|add:1 }}&sort={{ sort }}"
        hx-target="#recipe-results"
        hx-swap="beforeend">
    </div>

{% endif %}