{% for recipe in recipes %}

    <div id="recipe-{{ recipe.id }}" class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="relative">
            <div class="pb-[100%]"></div>
            <img src="https://placehold.co/400x300" alt="Recipe" class="absolute inset-0 w-full h-full object-cover">
            <div class="absolute top-2 right-2 flex gap-2">
                {% if recent_meal_plan %}
                    {% include "planner/recipes/partial_toggle_mpr.html" with recent_meal_plan=recent_meal_plan recipe=recipe %}
                {% endif %}
                {% include "planner/recipes/partial_toggle_my_recipes.html" with recipe=recipe %}
            </div>
        </div>
        <div class="p-4 h-[80px]">
            <a href="{% url 'recipe_detail' recipe.id %}">
                <h3 class="text-md font-semibold text-gray-900 line-clamp-2">{{ recipe.dish_name }}</h3>
            </a>
        </div>
    </div>
    
{% endfor %}

{% if page_obj.has_next %}

    <div id="scroll-sentinel"
        class="h-0 w-0 col-span-full"
        hx-trigger="intersect once"
        hx-get="{% url 'recipe_cards_page' %}?page={{ page_obj.number|add:1 }}&sort={{ sort }}"
        hx-target="#recipe-grid"
        hx-swap="beforeend">
    </div>

{% endif %}