{% extends "planner/layout.html" %}
{% load static %}

{% block title %}
    Shopping List
{% endblock %}

{% block body %}
    <div class="container mx-auto max-w-5xl">
        <div class="mb-8">
            <div class="flex justify-between items-center mb-6">
                <h1 id="title" class="text-3xl font-bold text-gray-900">Shopping List</h1>
            </div>
            <!-- Placeholder -->
            <p>Generate a Shopping List from your <a href="{% url 'meal_plan' %}" class="hyperlink">Meal Plan</a>.</p>
        </div>
    </div>
{% endblock %}